.team-section{
	margin-top: 80px;
	@include phones_L{
		margin-top: 120px;
	}
}
.team-title-block {
	padding-bottom: 100px;
}

.team-bg-image {
	position: absolute;
	height: 175px;
	width: auto;
	right: -144px;
	top: -72px;
	@include tablets {
		height: 140px;
		right: -62px;
	}
	@include phones_L {
		right: -5.8rem;
	}
	@include phones_S {
		display: none;
	}
}

.command-container {
	padding: 210px 72px 100px;
	text-align: right;
	@include laptop_L {
		padding: 185px 0 100px;
	}
	@include laptop_M{
		padding-top: 180px;
	}
	
	@include tablets{
		width:93%;
		padding: 100px 20px 100px;
		max-width:none;
		//max-width: a;
	}
}

.command-title-block {
	max-width: 312px;
	display: inline-block;
	position: relative;
	width: 50%;
	min-width: 780px;
	text-align: right;
	@include tablets{
		min-width: 0;
		width:100%;
		max-width: none;
	}
	@include phones_L {
		display: block;
		width: auto;
		padding-left: 0;
		max-width: 400px;
	}
}

.command-title {
	color: #342e2e;
	font-family: "Open Sans", sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 1.5;
	&:before {
		right: -95%;
	}
	@include phones_L {
		font-size: 28px;
		
	}
}

.command-comment {
	margin-top: 14px;
	color: #111;
	font-family: "Open Sans", sans-serif;
	font-size: 19px;
	font-weight: 400;
	@include phones_L {
		font-size: 26px;
	}
}

.command-bg-image {
	position: absolute;
	height: 175px;
	width: auto;
	top: -190px;
	right: 50px;
	@include tablets {
		height: 140px;
		right: 0;
	}
	
	@include phones_S {
		//display: none;
	}
}

.gallery-block-cover{
	background-image: linear-gradient(to bottom, #f7f9fb, #f7f9fb);
	margin-top: 92px;
	padding-top: 100px;
	.custom-container{
		padding-top: 0;
	}
}

.gallery-block {
	text-align: justify;
	position: relative;
	margin-top: 32px;
	
	@include laptop_S {
		margin-top: 0;
	}
	@include phones_L {
		text-align: center;
	}
}

.gallery-item {
	padding: 264px 0 10px 56px;
	background-color: white;
	border-radius: 5px 0px 0px;
	box-shadow: 2px 2px 12px 3px rgba(0, 0, 0, .02);
	display: inline-block;
	width: 30%;
	max-width: 296px;
	vertical-align: top;
	position: relative;
	&:nth-child(n+4){
		margin-top: 96px;
		@include phones-L{
			margin-top: 0;
		}
	}
	&:nth-child(3){
		@include tablets{
			margin-top: 96px;
		}
		@include phones_L{
			margin-top: 0;
		}
	}
	&:after {
		position: absolute;
		width: 32px;
		height: 2px;
		background-color: #4a69d2;
		bottom: 48px;
		left: 56px;
		content: '';
		z-index: 12;
		@include phones_L {
			display: none;
		}
	}
	@include laptop_L {
		max-width: 300px;
		padding-left: 25px;
		padding-right: 25px;
	}
	@include laptop_S {
		width:40%;
		min-width: 300px;
	}
	@include tablets {
		width: 34%;
	}
	@include phones_L {
		height: auto;
		padding: 0;
		background: transparent;
		box-shadow: none;
		text-align: left;
		width: 40%;
	}
}

.gallery-image {
	position: absolute;
	bottom: 32px;
	left: 72px;
	z-index: 5;
	height: 85%;
	width: auto;
	@include phones_L {
		position: relative;
		bottom: auto;
		left: auto;
		width: 100%;
		height: auto;
	}
}

.command-gallery_name {
	color: #333;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	font-weight: 300;
	text-align: left;
	span {
		margin-left: 20px;
		opacity: 0.49;
		color: #333;
		font-family: "Open Sans", sans-serif;
		font-size: 15px;
		font-weight: 300;
		@include phones_L {
			display: block;
			margin-left: 0;
			margin-top: 10px;
		}
		@include phones_S {
			font-size: 18px;
		}
	}
	@include phones_L {
		margin-top: 10px;
	}
	@include phones_S {
		font-size: 19px;
	}
}


.gallery-link {
	margin-top: 65px;
	display: inline-block;
	position: relative;
	width: auto;
	right: 20px;
	@include laptop_L {
		right: -60px;
	}
	@include laptop_S {
		right: 86px
	}
	@include tablets {
		bottom: auto;
		right: -35px;
	}
	@include phones_landscape {
		right: 45px;
	}
	@include phones_M {
		right: 35px;
	}
	@include phones_S {
		right: 30px;
	}
}

.gallery-item-last-cover{
	margin-top: 92px;
	display: inline-block;
	width:100%;
	text-align: center;
}

.gallery-item-upload{
	position: relative;
	&:hover{
		.gallery-item-tooltip{
			opacity: 1;
		}
	}
}

.gallery-item-tooltip{
	transition: .8s;
	position: absolute;
	background: #4a69d2;
	display: block;
	padding: 10px 15px;
	color: white;
	font-size: 18px;
	top: 84%;
	left: calc(50% - 36px);
	
	border-radius: 7px;
	z-index: 5;
	white-space: nowrap;
	opacity: 0;
	&:after{
		content: '';
		position: absolute;
		height:10px;
		width:10px;
		left: calc(50% - 5px);
		top: -5px;
		background: #4a69d2;
		transform: rotate(45deg);
		border-radius: 1px;
		
	}
}

.gallery-upload-button{
	display: block;
	opacity: 0;
	position: absolute;
}

.gallery-image-upload{
	//cursor: pointer;
}

.join-us-block{
	text-align: center;
	padding: 115px 0 175px;
}

.join-us-title{
	color: #090808;
	font-family: OpenSans;
	font-size: 19px;
	font-weight: 400;
}

.join-us-button{
	margin-top: 44px;
	border: none;
	width: 60%;
	max-width: 250px;
	text-align: center;
	text-decoration: none;
	font-family: "Open Sans",sans-serif;
	font-weight: 400;
	border-radius: 1.875rem;
	padding: .4375rem 0 .5rem;
	background-size: 105%;
	background-position: center;
	background-clip: border-box;
	transition: .8s;
	background-image: linear-gradient(75deg,#4c68db 0,#4c68db 2%,#4c68db 28%,#8968c0 100%);
	cursor: pointer;
	display: inline-block;
	color: white;
	font-size: 21px;
}

.language-ru{
	.details-item-second{
		@include laptop_L{
			padding-right: 0;
		}
	}
	.details-item-third{
		@include laptop_L{
			padding-right: 0;
		}
	}
}

.gallery-item{
	@include phones_L{
		margin-bottom: 30px;
	}
}