//@font-face {
//  font-family: 'BELLABOO';
//  src: url('../fonts/BELLABOO.eot');
//  src: local('☺'), url('../fonts/BELLABOO.woff') format('woff'), url('../fonts/BELLABOO.ttf') format('truetype'), url('../fonts/BELLABOO.svg') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}

@font-face {
  font-family: 'BELLABOO';
  src: url('../fonts/BELLABOO/webfont/BELLABOO-Regular.eot');
  src: local('☺'), url('../fonts/BELLABOO/webfont/BELLABOO-Regular.woff') format('woff'), url('../fonts/BELLABOO/webfont/BELLABOO-Regular.ttf') format('truetype'), url('../fonts/BELLABOO/webfont/BELLABOO-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Black Diamond';
  src: url('../fonts/Black Diamond.eot');
  src: local('☺'), url('../fonts/Black Diamond.woff') format('woff'), url('../fonts/Black Diamond.ttf') format('truetype'), url('../fonts/Black Diamond.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

