footer {
  padding: 23px 0 20px;
  text-align: center;
  background-color: #191919;
  p {
    font-family: "Open Sans", sans-serif;
    width: 93.75%;
    margin: auto;
    color: #ffffff;
    font-size: 19px;
    font-weight: 300;
    text-transform: uppercase;
  }
}