@import "forms/callback-form";
.callback-block {
	padding-top: 40px;
	padding-bottom: 50px;
	@include phones_L {
		padding-bottom: 20px;
	}
	overflow: hidden;
	background-image: linear-gradient(75deg, #4c68db 2%, #4c68db 28%, #8968c0 100%);
	box-sizing: border-box;
	.heading {
		color: white;
		width: 100%;
		text-align: center;
		line-height: 1.2;
		padding: 1.75rem 0 2.25rem 2.25rem;
		font-size: 1.25rem;
		font-weight: 700;
		@include phones_L {
			width: 93%;
			margin: auto;
		}
	}
}