@import "hamburger";
header {
	text-align: justify;
	padding-top: 104px;
	position: relative;
	min-height: 60px;
	@include laptop_S {
		padding-top: 40px;
	}
}

.header-logo-cover {
	@include phones_L {
		position: absolute;
		top: 50px;
		left: 0;
		z-index: 10;
	}
}

.logo-img {
	height: 50px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	@include phones_landscape {
		height: 48px;
		margin-top: -8px;
	}
	@include phones_L {
		height: 65px;
	}
}

.header-navigation_block {
	display: inline-block;
	transition: .8S;
	cursor: pointer;
	outline: none;
	outline: 0;
	min-height: 40px;
	min-width: 40px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: right;
	@include phones_L {
		position: absolute;
		top: 26px;
		right: 0;
		width: 100%;
	}
	
}

.navigation-list {
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
	padding-left: 0;
	transition: .8s;
	@include laptop_S {
		margin-top: 28px;
	}
	@include phones_landscape {
		margin-top: 18px;
	}
	@include phones_L {
		margin-top: 70px;
		display: none;
	}
}

.navigation-item {
	display: inline-block;
	vertical-align: top;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	font-weight: 300;
	margin-left: 40px;
	cursor: pointer;
	a {
		line-height: 1;
		text-decoration: none;
		padding: 0 2px 4px 0;
		margin: 0;
		border-radius: 0;
		border: none;
		background: transparent;
		box-shadow: none;
		color: white;
		font-family: "Open Sans", sans-serif;
		font-size: 17px;
		font-weight: 300;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	&:first-child {
		margin-left: 0;
	}
	button {
		line-height: 1;
		padding: 0 2px 4px 0;
		margin: 0;
		border-radius: 0;
		border: none;
		background: transparent;
		box-shadow: none;
		color: white;
		font-family: "Open Sans", sans-serif;
		font-size: 17px;
		font-weight: 300;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	@include tablets {
		margin-left: 20px;
	}
	@include phones_landscape {
		margin-left: 20px;
	}
	@include phones_L {
		margin-left: 0;
		margin-right: 0;
		button {
			padding-left: 0;
		}
	}
}
